body {
  margin: 0;
  /* TODO: PUT FONT IN A VARIABLE */
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  /* TODO: PUT FONT IN A VARIABLE */
  font-family: "sans-serif";
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
