@tailwind base;

h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  a {
    @apply text-blue-600 underline;
  }

 .portrait {
   height: 20em;
   width: 20em;
 }

 .test {
   min-width: 20em;
   min-height: 20em;
 }

@tailwind components;

@tailwind utilities;